<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Servlets Tutorial</display-name>

    <filter>
        <filter-name>FilterDemo</filter-name>
        <filter-class>net.proselyte.setvletstutorial.FilterDemo</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>FilterDemo</filter-name>
        <url-pattern>/FilterDemo</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>SimpleServlet</servlet-name>
        <servlet-class>net.proselyte.setvletstutorial.SimpleServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>StatusCodeDemo</servlet-name>
        <servlet-class>net.proselyte.setvletstutorial.StatusCodeDemo</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ServletRequestDemo</servlet-name>
        <servlet-class>net.proselyte.setvletstutorial.ServletRequestDemo</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ServletResponseDemo</servlet-name>
        <servlet-class>net.proselyte.setvletstutorial.ServletResponseDemo</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>PassingParametersUsingGetMethodDemo</servlet-name>
        <servlet-class>net.proselyte.setvletstutorial.PassingParametersUsingGetMethodDemo</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>PassingParametersUsingPostMethodDemo</servlet-name>
        <servlet-class>net.proselyte.setvletstutorial.PassingParametersUsingPostMethodDemo</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ErrorDemo</servlet-name>
        <servlet-class>net.proselyte.setvletstutorial.ErrorDemo</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>SessionTrackingDemo</servlet-name>
        <servlet-class>net.proselyte.setvletstutorial.SessionTrackingDemo</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SimpleServlet</servlet-name>
        <url-pattern>/SimpleServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>StatusCodeDemo</servlet-name>
        <url-pattern>/StatusCodeDemo</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ServletRequestDemo</servlet-name>
        <url-pattern>/ServletRequestDemo</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ServletResponseDemo</servlet-name>
        <url-pattern>/ServletResponseDemo</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PassingParametersUsingGetMethodDemo</servlet-name>
        <url-pattern>/PassingParametersUsingGetMethodDemo</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PassingParametersUsingPostMethodDemo</servlet-name>
        <url-pattern>/PassingParametersUsingPostMethodDemo</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ErrorDemo</servlet-name>
        <url-pattern>/ErrorDemo</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SessionTrackingDemo</servlet-name>
        <url-pattern>/SessionTrackingDemo</url-pattern>
    </servlet-mapping>

    <error-page>
        <error-code>404</error-code>
        <location>/ErrorDemo</location>
    </error-page>

    <error-page>
        <exception-type>java.lang.Error</exception-type>
        <location>/ErrorDemo</location>
    </error-page>

</web-app>
